<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Base learn</title>
    <style>
        .red {
            color: red;
        }

        .bold {
            font-weight: bold;
        }

        .font-bold {
            font-weight: bold;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!-- learning v-if and v-show!!  -->
    <div id="app">

        <!-- <template v-if="show">
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </template>
       <div v-else-if="">Hi</div>
       <div v-else>No</div> -->

    <!-- <template v-if="number === 1">
        <div>1</div>
        <div>2</div>
        <div>3</div>
    </template>
    <div v-else-if="number === 2">Hi</div>
    <div v-else>No</div> -->

     <div v-show="show">Yes</div>

       <!-- <button @click="toggleShow">Toggle</button> -->
       <!-- <button @click="increaseNumber">Increase</button> {{ number }} -->
       <button @click="toggle">Toggle</button> 
    </div>
        <script>
            new Vue({
                el: '#app',
                data:{
                    // show : false,
                    // number : 1,
                    number:1,
                    show:false
                },
                methods: {
                    // toggleShow(){
                    //     this.show = !this.show
                    // }

                    increaseNumber(){
                        this.number++
                    },

                    toggle(){
                        this.show = !this.show
                    }
                },
            })
        </script>
    
</body>
</html>